body {
    background-color: #dddddd;
    font-family: Helvetica;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

img {
    width: 40%;
}

a {
    text-decoration: none;
}

.focus-on-mouseover {
    transition: width 0.2s, filter 0.2s;
}

.focus-on-mouseover:hover {
    width: 44%;
    filter: brightness(110%);
}

.animated {
  animation-fill-mode: both;
}
