body {
    background-color: black;
    font-family: Helvetica;
    color: white;
    margin: 0;
}

.center {
    text-align: center;
}

img {
    height: 500px;
}

iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 450px;
}

.focus-on-mouseover {
    transition: height 0.2s, filter 0.2s;
}

.focus-on-mouseover:hover {
    height: 520px;
    filter: brightness(110%);
}

.animated {
    animation-fill-mode: both;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.film-tile {
    padding: 40px;
    text-align: left;
    transition: filter 0.2s;
    min-height: 300px;
    min-width: 450px;
    flex: 0 1 500px;
}

.film-tile:hover {
    filter: brightness(115%);
}

a {
    text-decoration: none;
    color: #0aa;
}

.film-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .film-row {
        flex-direction: column;
    }
    .film-tile {
        flex: 1 1 auto;
    }
}

.film-title {
    font-weight: bold;
    font-size: 34px;
}
.film-author {
    font-style: italic;
}
.film-info {
    margin-bottom: 15px;
}

.info-row {
    margin: 20px 100px;
    font-size: 20px;
    text-align: left;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.top-nav {
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.top-nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 0px 10px;
    border-radius: 10px;
}
.top-nav a.submit {
    background-color: #4fd1c5;
    color: black;
}
.top-nav a:hover {
    background-color: white;
    color: black;
}
.top-nav a.active {
    border: 1px solid white;
}

.top-nav a.logo {
    font-size: 24px;
}

@media only screen and (max-width: 800px) {
    .top-nav a.logo {
        font-size: 18px;
    }
    .top-nav a {
        font-size: 15px;
    }
}
